.cards {
    min-height: 400px; /* Минимальная высота для контейнера */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 170px auto;
    padding: 20px;

}

.card {
    width: calc(25% - 20px); /* Фиксированная ширина */
    min-height: 200px; /* Минимальная высота */
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
    color: black;
    transition: box-shadow 0.2s;
}

.card:hover {
    box-shadow: 0 8px 20px rgba(255, 102, 51, 0.5);
}

.card__top {
    flex: 0 0 200px;
    position: relative;
    overflow: hidden;
}

.card__image {
    display: block;
    width: 100%;
    height: 100%;
}

.card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: transform 0.2s; /* Добавлен переход для изображения */
}

.card__image:hover > img {
    transform: scale(1.1);
}

.card__label {
    padding: 5px 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #ff6633;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.card__prices {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.card__price::after {
    content: "BYN";
    margin-left: 4px;
}

.card__price--discount {
    font-weight: 700;
    color: #ff6633;
}

.card__price--common {
    font-weight: 400;
    color: #bfbfbf;
    text-decoration: line-through;
}

.card__title {
    margin: 5px 0;
    font-weight: 600;
    font-size: 18px;
}

.card__add {
    display: block;
    width: 100%;
    font-weight: 600;
    color: #70c05b;
    padding: 8px;
    text-align: center;
    border: 1px solid #70c05b;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s; /* Плавные переходы */
    margin-top: auto;
}

.card__add:hover {
    border-color: #ff6633;
    background-color: #ff6633;
    color: #fff;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* Две карточки в ряд */
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%; /* Одна карточка в ряд */
    }
}
.hidden {
    display: none; /* Скрываем элемент */
}